<!-- <header>
    <nav class="navbar">
        <div class="logo">Eventify</div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#my-bookings">My Bookings</a></li>
        </ul>
        <div class="login">
            <a href="#login">Login</a>
        </div>
    </nav>
</header> -->
<main>
    <section id="events" class="events-section">
        <h1>Upcoming Events</h1>
        <div class="event-cards">
            <div class="event-card">
                <h2>Music Concert</h2>
                <p>Date: Dec 30, 2024</p>
                <p>Location: New York City</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Art Exhibition</h2>
                <p>Date: Jan 15, 2025</p>
                <p>Location: Los Angeles</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Tech Conference</h2>
                <p>Date: Feb 10, 2025</p>
                <p>Location: San Francisco</p>
                <button>Book Now</button>

            </div>
            <div class="event-card">
                <h2>Music Concert</h2>
                <p>Date: Dec 30, 2024</p>
                <p>Location: New York City</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Art Exhibition</h2>
                <p>Date: Jan 15, 2025</p>
                <p>Location: Los Angeles</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Tech Conference</h2>
                <p>Date: Feb 10, 2025</p>
                <p>Location: San Francisco</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Music Concert</h2>
                <p>Date: Dec 30, 2024</p>
                <p>Location: New York City</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Art Exhibition</h2>
                <p>Date: Jan 15, 2025</p>
                <p>Location: Los Angeles</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Tech Conference</h2>
                <p>Date: Feb 10, 2025</p>
                <p>Location: San Francisco</p>
                <button>Book Now</button>
            </div>
            <div class="event-card">
                <h2>Art Exhibition</h2>
                <p>Date: Jan 15, 2025</p>
                <p>Location: Los Angeles</p>
                <button>Book Now</button>
            </div>
        </div>
    </section>
</main>